@page "/studentpage"

<h3>List Odf Student 0276</h3>
 <a href="addstudent" class="btn btn-success m-1">Add New Data</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th>NIM</th>
            <th>Nama Belakang</th>
            <th>Nama Depan</th>
            <th>Tanggal Masuk</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stu in Student)
        {
            <tr>
                <td>@stu.studentId</td>
                <td>@stu.lastName</td>
                <td>@stu.firstName</td>
                <td>@stu.enrollmentDate</td>
              <td><a href="@($"detailstudent/{stu.studentId}")" class="btn btn-info">details</a></td>
              <td><a href="@($"departmentdetail/{stu.studentId}")" class="btn btn-primary">enroll</a></td>
              <td><a href="@($"departmentdetail/{stu.studentId}")" class="btn btn-warning">edit</a></td>
              <td><a href="@($"departmentdetail/{stu.studentId}")" class="btn btn-danger">delete</a></td>
            </tr>  
        }
    </tbody>
</table>